

@media screen and (max-width: 768px){
    .seccion{
        grid-template-columns: repeat (1, 1fr);
    }
    .seccion .display{
        display: none;
    }
}

/* css alan */

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Montserrat:ital,wght@1,600&display=swap');
.fondo{
    display: flex;
    justify-content:end;
    align-items: center;
    height: 500px;
    background-image: url(/assets/img/unsplash_Bf_ItbkEBjI.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.BGCBlue{
    background-color: #6798C0;
}
.BGC{
    background-color: #FFFDF7;
}

#logo{
    height: 3rem;

}
.btn-outline-lightt{
    background-color: #FFFDF7;
}
.sinMargin{
    margin: 0;
 
}
.fuenteNav{ 

    color: #6798C0;
    font-size: 20px;
    font-family: 'League Spartan', sans-serif;
}


h1{
    font-family:'League Spartan', sans-serif ;
}
.p1{
   
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    color:#FFFDF7 ;


}
.nosotrosPadding{
  
    padding-right: 40px;
    
}
.imagen{
    max-height: 8rem;
    width: 8rem;
    
   
}
.titleCardBlue{
    font-size: 2.4rem;
    font-family: 'League Spartan', sans-serif;
    color: #6798C0;
    
}
.textCardBlue{
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    color: #6798C0;

}
a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #FFFDF7;
    font-size: 1rem;
}

a:hover {
    font-size: 1rem;
    color:#FFFDF7;
  }

#fondoLogo{
  
    background-color: #FFFDF7;
  }
  
  .redes{
    background-color: rgb(148, 211, 248);
    color: white;
    padding: 1rem;
    font-size: 2rem;
  }                                                                                                                                   
#footer{
    background-color: #090F46;
    color: white;
  }

  @media (min-width:1199px) {
    #search{
        position: absolute;
        width: 400px;
        left: 800px;
    } 

}
@media (min-width:1600px) {
    #search{
        position: absolute;
        width: 400px;
        left: 1450px;
    } 

}

 @media (max-width:480px){
    #logosPagos{
        width: 4rem;
        height: 2rem;
    }
    .fondo{
        display: flex;
        justify-content:end;
        align-items: center;
        height: 1200px;
        background-image: url(/assets/img/unsplash_Bf_ItbkEBjI.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }

    #search{
        width: 350px;
    } 

}

@media (min-width:481px){
    #logosPagos{
        width: 6rem;
        height: 3rem;
    }


}

@media (min-width:768px){
    #logosPagos{
        width: 10rem;
        height: 5rem;

    }
    .textCardBlue{
        font-size: 1.4rem;
    }

    #search{
        position: absolute;
        width: 400px;
    } 

    
}

@media (max-width:991px) {
    #mobileIcon{
        visibility: hidden;
    }
}