@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
.BGC{
    background-color: #FFFDF7;
}



/* NAVBAR */
#logo{
    height: 3rem;
}
.btn-outline-lightt{
    background-color: #FFFDF7;
}
.fuente{ 

    color: #6798C0;
    font-size: 20px;
    font-family: 'League Spartan', sans-serif;
}



/* BODY */

#imgBody{
  height: 600px;
  width: 600px;
}

.redes{
  background-color: rgb(148, 211, 248);
  color: white;
  padding: 10px;
  font-size: 25px;
  margin-right: -20px;
}

.redSocial{
  height: 20px;
  width: 20px;
}

/* FOOTER */

#footer{
  background-color: #090F46;
  color: white;
}

#fondoLogo{
  background-color: azure;  
}

#logosPagos{
  width: 100px;
  height: 50px;
}

.none{
  text-decoration: none
}