@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
.BGC{
    background-color: #FFFDF7;
}
@media screen {

  /* NAVBAR */
#logo{
  height: 3rem;
}
.btn-outline-lightt{
    background-color: #FFFDF7;
}
.fuente{ 

    color: #6798C0;
    font-size: 20px;
    font-family: 'League Spartan', sans-serif;
}



/* BODY */

.bodyC{
  overflow: hidden;
}

#imgBody{
  height: 600px;
  width: 600px;
}

.redes{
  background-color: rgb(148, 211, 248);
  color: white;
  padding: 10px;
  font-size: 25px;
  overflow: hidden;
}

.redSocial{
  height: 1.5rem;
  width: 1.5rem;
}

#logoRedes{
  flex-flow: row;
}

#fondoRedes{
  margin-top: -1rem;
  padding: 1rem;
}
/* FOOTER */

#footer{
  background-color: #090F46;
  color: white;
  overflow: hidden;
}

#fondoLogo{
  background-color: azure;  
}

#logosPagos{
  width: 10rem;
  height: 5rem;
}


  
}



