@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
.BGC{
    background-color: #FFFDF7;
}


#logo{
    height: 3rem;
}
.btn-outline-lightt{
    background-color: #FFFDF7;
}
.fuente{ 

    color: #6798C0;
    font-size: 20px;
    font-family: 'League Spartan', sans-serif;
}




#imgBody{
  height: calc(100vh - 56px);
  width: calc(100vh - 56px);
}

#fondoLogo{
  
  background-color: #FFFDF7;
}

.redes{
  background-color: rgb(148, 211, 248);
  color: white;
  padding: 20px;
  font-size: 30px;
}




#footer{
  background-color: #090F46;
  color: white;
}