:root{
    --terciario:#FFFDF7;
    --secundario:#6798C0;
    --secundario2:#99D6EA;
    --fuente1:'Montserrat', sans-serif;
    --fuente2:'League Spartan', sans-serif;
}

body{
    
}

.bg-light{
    background-color: var(--terciario) !important;
}

#inicio{
    padding-right: 1rem;
}

.imagenL{
    
}

.titulo{
    padding-top: 1rem !important;
    padding-bottom: 0% !important;

    font-family: var(--fuente2);
    color: var(--secundario);
    font-weight: bolder;
}

label{
    color: var(--secundario);
    margin-bottom: 4px;
    margin-left: 10px;
    font-style: bold;
    font-family: var(--fuente1);
}

.form-control, .btn{
    min-height: 3.125rem;
    line-height: initial;
    border-radius: 6px;
    font-family: var(--fuente1);
    color: rgba(0, 0, 0, 0.5);
    
        /* shadow sm */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-color: transparent;
}

.botonPrincipal{
    background-color: var(--secundario);
    color: white;
    font-size: larger;
    font-family: var(--fuente1) !important;
    font-weight: bold;
}

.checkbox{
    color: var(--secundario);
    font-family: var(--fuente1);
    text-align: center;
}

.botonPrincipal[type="submit"]:hover{
    color: white;
    cursor: pointer;
    background-color: var(--secundario2); 
    font-family: var(--fuente1) !important;
}

.opcion{
    color: var(--secundario) !important;
    font-size: .9rem !important;
    font-family: var(--fuente1) !important;
}

.google{
    margin-right: 6px;
    border-color: var(--secundario);
    color: var(--secundario);
    
}

.fa-google{
    margin-right: 6px;
    font-size: large;
}

.google[type="submit"]:hover{
    color: white;
    cursor: pointer;
    background-color: var(--secundario);
    
}

.facebook{
    margin-left: 6px;
    border-color: var(--secundario);
    color: var(--secundario);
    
}

.fa-facebook{
    margin-right: 6px;
    font-size: large;
}

.facebook[type="submit"]:hover{
    color: white;
    cursor: pointer;
    background-color: var(--secundario);

}

.d-inline-block{
    font-size: .9rem;
}

.text-light{
    font-family: var(--fuente1) !important;
    color: var(--secundario2) !important;
    font-size: .9rem !important;
}

.footer{
    margin-top: 1rem !important;
}